<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.demo3"><!-- 安卓应用的包名 -->
    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 联网权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 上层对话框权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> <!-- 录制音频权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读取外部存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!--写入外部存储权限-->
      <!-- 
        android:label="应用在手机桌面上显示的名字" 
        android:icon="此应用在手机桌面上的图标"
       -->
    <application
      android:name=".MainApplication"
      android:label="@string/app_name" 
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize"
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <!-- android:windowSoftInputMode="adjustResize" -->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
